.c-card {
  background: var(--white);
  padding: var(--card-padding);
  border-radius: $card-radius;
  box-shadow: $default-shadow;
  border: 0;
  margin-bottom: 1rem;
}

@include media-breakpoint-up(md) {
  .c-card-rises {
    transition: transform .15s ease-in-out, box-shadow .1s ease-in-out;

    &:hover {
      box-shadow: $raised-shadow;
      transform: translateY(-.5rem);
    }

    &:active {
      transform: translateY(0);
    }
  }
}
