@import "variables";
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index.scss';
@import "buttons";
@import "cards";
@import "tooltips";
@import "animations";

:root {
  --card-padding: 1rem;
  --text-default: #{$gray-900};
  --text-muted: #{$gray-700};
  --text-supermuted: #{$gray-600};
  --gray-lightest: #{$gray-lightest};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
  --white: #{$white};
  --black: #{$gray-900};
  --primary: #{$primary};
  --primary-semitransparent: #{rgba($primary, .5)};
  --gradient-start: #{$gradient-start};
  --gradient-end: #{$gradient-end};
}

body {
  padding-top: 4rem;
}

.partit-3 {
  --primary: #{$primary-iniciativa};
  --primary-semitransparent: #{rgba($primary-iniciativa, .5)};
  --gradient-start: #{$primary-iniciativa};
  --gradient-end: #{$primary-iniciativa};
}

.partit-4 {
  --primary: #{$primary-verds};
  --primary-semitransparent: #{rgba($primary-verds, .5)};
  --gradient-start: #{$primary-verds};
  --gradient-end: #{$primary-verds};
}

a,
a:hover,
a:focus,
a:active {
  color: var(--primary);
}

a.link-muted {
  color: $text-muted;
  text-decoration: underline;

  &:hover,
  a:focus,
  a:active {
    color: $text-default;
  }
}

.dimmed {
  opacity: .5;
}

main {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Bootstrap vue fix */
.modal-backdrop {
  background-color: rgba($dark, .5);
}

@include media-breakpoint-up(md) {
  .sr-md-only {
    @include sr-only;
  }
}
